@font-face {
  font-family: "Ubuntu";
  src: url("/Resources/fonts/Ubuntu-Regular.ttf") format("truetype");
}

:root {
  --primary: #f8fafc;
  --secondary: #fbfbfb;
  --tertiary: #202340;
  --primary-font: "Ubuntu";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: var(--primary-font);
  background-color: var(--primary);
}
a {
  color: white;
}
.top-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem;
  background-color: var(--tertiary);
  color: white;
}
.mid-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 0.5rem;
  h1 {
    font-size: 2.5rem;
    color: cornflowerblue;
  }
}
.search-bar {
  all: unset;
  width: 50%;
  padding: 0.75rem 0.5rem;
  border-radius: 10px;
  background-color: var(--secondary);
}

.usr-icons {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--tertiary);
}
/* responsive */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5rem;
}
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
/* xxl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
