:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* responsive */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5rem;
}
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
/* xxl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
