@font-face {
  font-family: "Ubuntu";
  src: url("/Resources/fonts/Ubuntu-Regular.ttf") format("truetype");
}

:root {
  --primary: #f8fafc;
  --secondary: #fbfbfb;
  --tertiary: #202340;
  --shadow: #3b3b3b5c;
  --transition-clr: #e8e8e8;

  --font: "Ubuntu";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: var(--font);
  background-color: var(--primary);
}
a {
  color: white;
}
.sticky {
  position: sticky;
  z-index: 1000;
  top: 0;
}
.top-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
  padding: 1rem;
  background-color: var(--tertiary);
  color: white;
}
.mid-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  padding: 1rem 0.5rem;
  gap: 1rem;
  h1 {
    font-size: 2.5rem;
    color: cornflowerblue;
  }
}
.search-bar {
  all: unset;
  width: 100%;
  padding: 0.75rem 0.5rem;
  border-radius: 10px;
  background-color: var(--secondary);
}

.usr-icons {
  display: none;
  align-items: center;
  gap: 5px;
  color: var(--tertiary);
}
.bottom-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--primary);
  box-shadow: 1px 1px 5px var(--shadow);
}
.botm-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  a {
    color: var(--tertiary);
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
  }
  i {
    cursor: pointer;
  }
}
.getpaid-btn {
  all: unset;
  display: none;
  cursor: pointer;
  background-color: cornflowerblue;
  border-radius: 15px;
  color: var(--primary);
  font-family: var(--font);
  padding: 0.5rem 1rem;
}
.side-menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: var(--primary);
  box-shadow: 3px 0 4px var(--shadow);
  text-align: center;
  overflow-y: auto;
  i {
    cursor: pointer;
    width: 100%;
    text-align: right;
  }
}
.side-menu-open-animation {
  animation: openclose-animation 450ms ease-out;
}
.side-menu-close-animation {
  animation: openclose-animation 450ms reverse ease-in;
}
@keyframes openclose-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.side-menu h2 {
  padding: 2rem 0.5rem;
  text-align: center;
}
.side-menu h3 {
  padding: 0.5rem;
}

.side-menu-categories {
  width: 100%;
  list-style: none;
}
.side-list-item {
  padding: 1rem 1.5rem;
  &:hover {
    background-color: var(--transition-clr);
  }
}
.side-link-item {
  color: var(--tertiary);
  text-decoration: none;
}

.display-none {
  display: none;
}

#slider-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
}
#slide {
  width: 100%;
  height: 300px;
  object-fit: fill;
}
#autoplay {
  cursor: pointer;
  position: absolute;
  padding: 5px;
  color: var(--tertiary);
}
.slide-nav-container {
  width: 100%;
  position: absolute;
  bottom: 5%;

  display: flex;
  justify-content: center;
  gap: 10px;
}
.slider-nav-link {
  cursor: pointer;
  background-color: var(--primary);
  border: solid var(--tertiary) 2px;
  padding: 0.3rem;
  border-radius: 25px;
  &:focus {
    background-color: var(--tertiary);
    border-radius: 25px;
  }
}

/* responsive */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5rem;
}
.md-hidden {
  display: none;
}
.hidden-block {
  display: none;
}
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .side-menu {
    width: 300px;
    text-align: left;
  }
  .getpaid-btn {
    display: block;
  }
}
/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .md-hidden {
    display: block;
  }
  .usr-icons {
    display: flex;
  }
  .mid-header {
    flex-direction: row;
  }
  .search-bar {
    width: 0;
    flex-grow: 1;
  }

  .hidden-block {
    display: block;
  }
  .hidden-lg {
    display: none;
  }
}
/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
/* xxl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
